@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

body {
    background-color: #641188;
    color: #fff9f9cc;
    line-height: 1;
    font-family: 'IBM Plex Sans', sans-serif;
    
}

mark{ 
    font-size: 40px;
    color: #fff9f9cc;
    background-color: transparent;
}

#app {
    font-size: 40px;
}

.main {
    width: 550px;
    position: absolute;
    top: 30%;
    left: 3%;
}

.flip-box {
    background-color: transparent;
    width: 450px;
    height: 350px;
    border: 1px solid transparent;
    perspective: 1000px;
    position: absolute;
    top: 25%;
    right: 13%;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: transparent;
    color: #fff9f9cc;
    font-size: 40px;
    position: fixed;
  }

  h2{
    position: relative;
    top: 20px;
  }

  .flip-box-back {
    background: #141a1f;
    color: white;
    border-radius: 20px;
    position: relative;
    transform: rotateY(180deg);
  }

  .bolinhas{
      padding-top: 8px;
      padding-right: 320px;
      max-width:100px;
      max-height:29px;
  }

 a{
  text-decoration: none;
  color: #fff9f9cc;
    font-size: 60px;  
    position: relative; 
    padding-left: 30px;
 }

.github{
  position: relative;
  top: 15px;
  transition: .4s;
}
 .linkedin{
  position: relative;
   top: 28px;
   transition: .4s;
 }
 .email{
  position: relative;
   top: 45px;
   transition: .4s;
 }
 .email:hover {
  padding-left: 50px;
  color: #fff9f97c;
}
.linkedin:hover {
  padding-left: 50px;
  color: #fff9f97c;
}
.github:hover {
  padding-left: 50px;
  color: #fff9f97c;
}